@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*common css start*/
body{ 
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
/*common css end*/
/*header start*/
header{
   border-bottom: 1px solid;
}
.nav1{}
.logo{
	font-size: 30px;
	margin-top: 10px;
  text-transform: uppercase;
  color:#333333;
}
.menu ul li a { 
  font-weight: 700;
  color:#8e8e8e;
  padding-right: 30px;
  text-transform: uppercase;
}

.menu ul li a:hover {
	color:black;!important;
	transition: .33s linear;
}
.dd{}
.dd a{
	border: none;
}
.dd a i{
	color: #8e8e8e;
}

.dd a::after{
	display: none;
}
.dd i:hover{
	color: black !important ;
	transition: .33s;
}
.ddm{
	padding: 15px 10px;
	width: 350px;
    
}
.ddm[data-bs-popper]{
	top:60px;
	left: -320px;
	margin-top:5px ;
}
.ddmi{
	border: none;
}
.ddmi:focus{
	box-shadow: none;
}
.ddmb{
	margin-top:5px;
	border: none;
	background-color: transparent;

}

/*header end*/
/*slider start*/
.slider{
	margin-bottom: 10px;
	background-image:url(../images/slider.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.s_content{
	margin: 200px 0;
}
.s_content a{
    background-color: white;
    color: black;
    border: none;
    border-radius: 0px !important;
}
.lm i{
	margin:0 10px 5px;
}
.sbp,.sbn{
	border: none;
	color: #8e8e8e;
	background-color: transparent;
	text-transform: uppercase;
}
.sbn,.sbp:hover{
	color: black;
	transition: .33s linear;
.btn_dark{
	border-radius: 0px !important;
}
}
/*slider end*/
/*welcome start*/
.c_pad{
	padding-bottom: 100px;

}
.c_title h1{
	margin-bottom: 30px;
  font-size:30pt ;
	font-weight:400 ;
	color:black ;
	text-transform: uppercase;
}
.c_line{
	margin-bottom:20px;
	width: 3px;
	height: 50px;
	background-color: black;
}
.w_p p{
	margin: 5px -350px 0;
	font-family: "Roboto", sans-serif;
	font-size:16pt;
  color:#8e8e8e ;
  line-height: 40px;
}
.w_feature{
	margin-top: 100px;
	padding: 0 0 50px;
	border: 1px solid #8e8e8e;
}
.w_icon{
	margin: -20px auto 20px;
	width: 65px;
	background-color: white;
}
.w_icon i{
	
	font-size: 60px;
	color: #8e8e8e;
}
.w_line{
	      margin: 0 113px 22px;
        width: 60px;
        height: 1px;
        background-color: #8e8e8e;
    }

.wh2{
	 font-size: 18pt;
   font-weight: 700;
   color: black;
   text-transform: uppercase;
}
.w_feature p{
	margin: 0 35px;
	margin-bottom: 20px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color:#8e8e8e;
}
.w_a{
	color: #8e8e8e;
	text-transform: uppercase;
	text-decoration: none;
}
.w_feature:hover{
	border: 1px solid;
}
.w_feature:hover .w_icon i{
	color: black;
}
.w_feature:hover .w_a{
	color: black;
}
/*welcome end*/
/*about start*/
.a_h1{
	 margin-bottom: 25px;
  font-size: 48px;
  font-weight:400;
  line-height: 70px;
  color:black;
}
.a_p1,.a_p2{
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color:#8e8e8e;
}
.btna{
   font-family:"Roboto", sans-serif ;
   font-size: 16pt;
	margin: 10px -8px;
	border: 1px solid black;
	text-transform: uppercase;
	color: black;
	background-color: white;
}
.about_text a{
	font-family: "Roboto", sans-serif;
	font-size: 16pt;
	font-weight:500;
	color: black;
	border-radius: 0px;
}


/*recent start*/
.recent{
	background-color:#f8f8f8;
}
.rw{
	width: 43%;
}
.menu2 ul li a{
    margin-right: 11px;
    border: 1px solid transparent;
}
.menu2 ul li a:hover{
    border: 1px solid black;
}
.items{
    margin: 30px auto 0;
    position: relative;
    width: 84%;
}
.r_text{
    background-color: #808080;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .33s;
}  
.r_text:hover{
    opacity: 0.9;
}
.r_text i {
    margin: 99px 147px;
    font-size: 60px;
    color: white;
} 
.r_hp{
    padding: 10px 0 10px 30px;
    position: absolute;
    top: 69%;
    left: -4%;
    text-transform: uppercase;
    transform: translate(4%, 48%);
    color: black;
    width: 100%;
    background: white;
}
.r_hp h2{
	font-family:"Lato", sans-serif ;
    font-size: 18pt;
    font-weight: 700;
    text-transform: uppercase;
}
.r_hp p{
	font-family:"Roboto", sans-serif ;
	font-size: 14pt;
	color: #8e8e8e;
}
/*recent end*/
/*nipro start*/
.f_item{
	margin-top: 70px;
}
.f_icon{}
.f_icon i{
	margin-top: 2px;
	font-size: 50px;
	color: #8e8e8e;
	transition: .3s;
}
.f_icon i:hover{
   transform: scale(.8);
}
.f_text{}
.f_text h2{
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	color:#8e8e8e ;
}
.f_text p{
	color: #8e8e8e;
	letter-spacing: 1px;
}
.n_line{
        margin: 15px -6px 22px;
        width: 286px;
        height: 1px;
        background-color: #8e8e8e;
}
.f_item:hover .f_icon i{
	color: black;
}
.f_item:hover .f_text h2{
	color: black;
}
.f_item:hover .n_line{
	color: black;
}
/*nipro end*/
/*work start*/
.work{
    background-image: url(../images/work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wr_content{
    position: relative;
    width: 85%;
}
.wr_icon{
    margin-top: 100px;
}
.wr_text{
    padding: 11px 23px;
    width: 98%;
    background-color:white;
}
.wr_text h2{
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color:black;
    text-transform: uppercase;
}
.wr_sm{
    position: absolute;
    top: 13%;
    opacity: 0;
    transition:.33s linear;
}
.wr_content:hover .wr_sm{
    opacity: 1;
}
.wr_sm ul li{
    width: 40px;
    background-color: white;
}
.wr_sm ul li a{
    padding: 8px 10px;
    color: #8e8e8e;
}
.wr_sm ul li a:hover{
    color: black;
    border-right: 2px solid black;
}
.wr_sm ul li a i{
    font-size: 22px;
}
/*work end*/
/*Price start*/
.price{
	padding: 0 0 100px;
}
.p_content{
	margin-top: 80px;
	padding: 40px 25px;
	border: 1px solid #8e8e8e;
	transition: .33s linear;
}
.p_h2{
	margin: -50px 0 0 0;
	font-family:"Lato", sans-serif;
	font-size: 18px;
	font-weight: 700;
	width: 50%;
	color: black;
	text-align: center;
	text-transform: uppercase;
	background-color: white;
}
.pr_h2{
	margin: -50px 0 0 -6px;
	width: 30%;
	font-size: 23px;
}
.pr_h3{
	margin: -50px 0 0 -6px;
	width: 55%;
	font-size: 23px;
}
.p_p1{
	margin: 35px 0;
	font-family:"Roboto", sans-serif ;
	font-size: 16pt;
	color: #8e8e8e;
}
.p_p1 span{
	font-size: 30px;
	font-weight: 700;
	color: black;
}

.p_list ul li{
	color: #8e8e8e;
    line-height: 35px;
}
.btna{
  color: #8e8e8e;
	border-radius: 0;
}
.p_content:hover{
	border: 1px solid black !important;
}
.p_content:hover a{
	color: black;
}
/*price end*/
/*nipro template start*/
.template{
  padding:30px 0;
	background-color: lightgray;
}
.tem_title{
	margin-top: 30px;
}
.tem_title h1{
	font-size: 18pt;
}
.tem_buy{
	margin-top: 13px;
	margin-left: 220px;
}
.btt{
	 font-family:"Roboto", sans-serif ;
   font-size: 16pt;
	margin: 10px -8px;
	border: 1px solid black;
	text-transform: uppercase;
	color: black;
	background-color: white;
}
/*nipro template end*/
/*slider2 start*/
.slider2{
    padding-top: 80px;
}
.slide{
    padding: 15px 10px 7px 15px;
   
}
#car2{
	border: 1px solid #8e8e8e;
}
.slide_content h1, .slide_content h2, .slide_content h3{
    margin-bottom: 12px;
    font-size: 18px;
}
.slide_content h1{
    font-family:"Lato", sans-serif;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}
.slide_content h2{
    color: #8e8e8e;
}
.slide_content h3{
        color: black;
}
.slide_content p{
    margin: 15px 0 23px;
}
.slide_b{
	   padding: 20px 4px 16px;
    border: 1px solid #8e8e8e;
    background-color: #f8f8f8;
}
.b1 p, .b2 p, .span_b{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.b1{

  margin: 23px -15px 34px;
}
.b2{
   margin: 40px -17px 15px;
}
.span_b{
    margin-left: 22px;
}
.slide_b p{
 font-family:"Roboto", sans-serif ;
   font-size: 16pt;
	color:#8e8e8e ;
}
/*slider2 end*/
/*contact us start*/
.c_form{
	padding: 100px;
	border: 1px solid #8e8e8e;
}
.c_h1{
	margin-top: -125px;
    background-color: white;
    width: 24%;
    margin-left: 400px;
    text-transform: uppercase;
}
.form{
	    margin-top: 125px;
}
.form-check{
	margin-left: -20px;
}
.form-control{
  width: 70%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom:1px solid #8e8e8e;
  border-radius: 0;
  background-color: transparent;
  font-size: 16px;
  resize: none;
}
.form-control:focus{
	box-shadow: none;
}
.form-label{
	font-size: 16pt;
}
.btnb{
	padding: 10px 3px;
	margin-left: 450px;
	font-family:"Roboto", sans-serif ;
	font-size: 16pt;
	border: 1px solid;
	border-radius: 0;
}

/*contact us end*/
/*footer start*/
footer{
    padding-top: 38px;
    background-image: url(../images/f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.f_top{
    border-bottom: 1px solid white;
}
.ft_icon{
    padding:0 77px 100px;
    color: white;
}
.ft_icon p{
    margin: 34px 0;
    color: white;
}
.ft_icon ul li a i{
    padding: 10px 11px;
    font-size: 26px;
    color: white;
    border: 1px solid white;
    transition: .33s linear;
}
.ft_icon ul li a i:hover{
    color: black;
    background-color:white;
}

.ft_icon ul li:last-child a i{
    padding: 10px 8px;
}
.f_end{
    padding: 30px 0;
}
.f_end p{
    margin-top: 7px;
    color: white;
}
.f_end ul li a{
    color: white;
}
/*footer end*/